@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    word-wrap: break-word;
    word-break: break-all;
    box-sizing: content-box;
}

header{
    background-color: rgb(12, 92, 85);
    width: 100%;
    min-height: 800px;
    height: auto;
    margin: 0px auto;
    
}

.container{
    margin: 0px auto;
    /*padding-bottom: 20px;*/
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    display: block;
    box-shadow: 0px 0px 18px 0px #777;
}

.photoWrapper{
    position: absolute;
    animation: round 20s infinite;
    opacity: 0;
    top: 0;
    left: 0;
}

.photoWrapper .photo{
    min-height: 600px;
    min-width: 100vw;

}
.photo{
    height: auto;
    width: 100%;
}

.photoWrapper .photoDescr img{
    max-height: 90px;
    max-width: 200px;
    transform: rotate(360deg);
}


.etiqueta{
    position: fixed;
    top: -20px;
    left: 20px;
    background-color: rgba(12, 92, 85, 0.62);
    height: 500px;
    width: 220px;
    z-index: 1000;
    box-shadow: 1px 1px 12px 2px #000;
    border-radius: 0px 0px 5px 5px;
    animation: etiqueta 4s;
}
.etiqueta-icones{
    position: fixed;
    bottom: -20px;
    right: 20px;
    background-color: rgba(12, 92, 85, 0.62);
    height: 100px;
    width: 220px;
    z-index: 1000;
    box-shadow: 1px 1px 12px 2px #54c0b7;
    border-radius: 0px 0px 5px 5px;
}

@keyframes etiqueta {
    0% { height: 0%; }
     
     100% { height: 500px;}
}


.etiqueta p{
    margin: 30px;
}

p.photoDescr{
    position: absolute;
    top: 250px;
    right: -50px;
    background-color: rgba(12, 92, 85, 0.62);
    margin: 10px;
    width: 70%;
    border-radius: 30px;
    padding: 15px;
    font-size: 22px;
    text-shadow: 1px 1px 6px #000;
    
}

@keyframes round {
    25%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}

.photoWrapper:nth-child(1){
    animation-delay: 0s;
}
.photoWrapper:nth-child(2){
    animation-delay: 4s;
}
.photoWrapper:nth-child(3){
    animation-delay: 8s;
}
.photoWrapper:nth-child(4){
    animation-delay: 12s;
}
.photoWrapper:nth-child(5){
    animation-delay: 16s;
}
.photoWrapper:nth-child(6){
    animation-delay: 20s;
}
