.portifolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0  auto;
    width: 100%;
    min-height: 800px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FFFFFF;
}

.port-row{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2);
    column-gap: 3px;
    row-gap: 7px;
    width: 90%;
}

.habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0  auto;
    width: 100%;
    padding-bottom: 80px;
    background-color: #FFFFFF;
}
.hab-area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


