.portifolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0  auto;
    width: 100%;
    min-height: 800px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FFFFFF;
}

.habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0  auto;
    width: 100%;
    padding-bottom: 80px;
    background-color: #FFFFFF;
}
.hab-area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
