.habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0  auto;
    width: 100%;
    padding-bottom: 80px;
}
.hab-area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

main{
    background-color: #000000d8;
}