header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.header-content{

    display: flex;
    width: 100%;
    height: 120px;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.8);

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;

}

.logo h1{
    font-size: 40px;
    font-family: 'vivaldi', cursive;
    color: #fff;

}

.bar-header{
    background-image: linear-gradient( to right,  #dd7c49, #eb693f, #452926);
    width: 100%;
    height: 10px;
}

/*-----------------------NAVEGATION-----------------------*/

.navegation {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    
}

.navegation ul a {
    color: #eb693f;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: font-size;
    cursor: pointer;
    text-decoration: none;
    
}
.navegation ul a:hover {
    transition: 0.3s;
    font-size: 20px;
    border-left: 1px solid #dd7c49;
    border-right: 1px solid #dd7c49;
}
