#footer {
    background-color: #087c96;
    height: 180px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    position: relative;
    bottom: 0;
}

.footer-area1, 
.footer-area2,
.footer-area3 {
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-area3 {
    
    border-right: 3px solid #fff;
}

.footer-area1 {
    justify-content: space-around;
    
}

.footer-area1 ul {
    text-decoration: none;
    color: #fff;
    
}
.footer-area1 ul li {
    margin-bottom: 8px;

    
}

.footer-area1 ul li a {
    
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.footer-area2 {
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;

}

.footer-area2 p{
    color: #fff;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.footer-area3 a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.info-contato{
    display: flex;
    flex-direction: column;

}

.email,
.endereco,
.telefone {
    margin-top: 14px;
    color: #fff;
    font-size: 18px;
}




/*


.content {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    height: 100vh;
}
.container {
    width: 1100px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, .1);
    border-radius: 5px;
}
*/